/** Created by Roni Salman **/

/** Background image from https://unsplash.com/photos/D6Tu_L3chLE **/

body {
	margin: 0;
	min-width: 300px;
}

* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	position: relative;
	background-color: tan;
	list-style-type: none;
	cursor: pointer;
	padding: 10px 6px 10px 30px;
	transition: 0.5s;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}