/* Created by Roni Salman */

/* Background image from https://unsplash.com/photos/D6Tu_L3chLE */

html,body{
	height: 100%;
	margin: 0%;
	padding: 0%;
}

#image{
	background: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: blur(5px);
	height: 100%;
}

#header{
	color: white;
	top: 50px;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

ul{
	padding-left: 0px;
	color: white;
	top: 250px;
	height: 250px;
	max-height: 250px;
	overflow-y: scroll;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;	
	list-style-type: none;
}

ul::-webkit-scrollbar{
	display: none;
}

ul li{
	width: 300px;
	padding-top: 10px;
}

ul li:hover{
	color: red;
	cursor: pointer;
}

ul li button{
	position: absolute;
	left: 80%;
	border: none;
	background-color: red;
	color: white;
}

ul li button:hover{
	cursor: pointer;
}