/** Created by Roni Salman **/

/** Background image from https://unsplash.com/photos/D6Tu_L3chLE **/

body {
	margin: 0;
	min-width: 300px;
}

* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	position: relative;
	background-color: tan;
	list-style-type: none;
	cursor: pointer;
	padding: 10px 6px 10px 30px;
	transition: 0.5s;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul li.checked::before {
	content: "";
	position: absolute;
	border-color: white;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 15px;
	transform: rotate(45deg);
	height: 15px;
	width: 10px;
}

ul li:hover {
	background-color: blue;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 15px 10px 15px;
}

.close:hover{
	background: green;
}